/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILS*/
body{
    font-family: 'Open Sans', sans-serif;
}

.container-big{
    max-width: 1100px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn{
    padding: 10px 20px;
    display: inline-block;
}

.btn-small{
    padding: 5px 10px;
}

.btn-primary{
    color: white;
    background-color: #0061FF;
}

ul{
    list-style-type: none;
}

ul li{
    background-position: 0 0;
    background-size: 15px;
    background-repeat: no-repeat;
    line-height: 20px;
    padding-left: 25px;
}

a{
    text-decoration: none;
    color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row > .col-30{
    flex-basis: 30%;
}

.row > .col-40{
    flex-basis: 40%;
}

.row > .col-50{
    flex-basis: 50%;
}

.row > .col-60{
    flex-basis: 60%;
}

.row > .col-70{
    flex-basis: 70%;
}


.m-30-20{
    margin: 30px 20px;
}

.mtb-10{
    margin: 10px 0;
}

.mtb-20{
    margin: 20px 0;
}

.mtb-40{
    margin: 40px 0;
}

.mtb-60{
    margin: 60px 0;
}

.mtb-100{
    margin: 100px 0;
}

.ml-10{
    margin-left: 10px;
}

.ml-30{
    margin-left: 30px;
}

.mb-30{
    margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px;
}

.ptb-10{
    padding: 10px 0;
}


.txt-alg-right{
    text-align: right;
}

img{
    width: 100%;
    height: auto;
}

.checkbox-radius{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 5px solid #0061FF;
}

.box-radius{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #b9b9b9;
}

.box > *{
    margin: 10px 0;
}

.invoice{
    color: #666666;
}

.border{
    border: 1px solid #b9b9b9;
    width: 50px;
}

/* header */

#main-header{
    height: 80px;
    background-color: white;
    box-shadow: 0 1px 3px #666;
    padding: 20px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#main-header ul{
    display: flex;
    align-items: center;
    gap: 20px;
}



  

/* jumbotron */

#jumbotron{
    background-color: #B4D0E7;
    padding-top: 70px;
    margin-bottom: 100px;
    height: 650px;
}

#jumbotron h1{
    font-size: 60px;
    font-weight: 900;
}

#jumbotron .row{
    translate: 0 60px;
}

.fa-arrow-down{
    font-size: 50px;
}



/* main */



.row.cols-3 > .col{
    flex-basis: calc(100% / 3);
}

.row.cols-3 {
    margin: 0 -20px;
}

.col{
    padding: 0 10px;
}

.col-full{
    flex-basis: 100%;
    padding: 10px;
}

.card-full{
    border: 1px solid grey;
}

.col-full .row > .col-50{
    padding: 40px;
}

.card{
    border: 1px solid grey;
    height: 800px;
}

.card-header{
    text-align: center;
    border-bottom: 1px solid grey;
}

.card li{
    margin: 12px;
}

ul .user{
    background-image: url(../img/user-solid.svg);
}

ul .folder{
    background-image: url(../img/folder-solid.svg);
}

ul .share{
    background-image: url(../img/share-nodes-solid.svg);
}

.shop-now{
    padding: 30px 0;
}

.advantages > *{
    margin: 20px 0;
}

.soluction{
    padding-top: 40px;
}

ul .check{
    background-image: url(../img/check-solid\ \(1\).svg);  
}

ul .users{
    background-image: url(../img/users-solid.svg);  
}

.advantages h3{
    font-size: 16px;
}

.btn-partner{
    border: 1px solid;
}

.title-business{
    font-size: 38px;
}