/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILS*/
body{
    font-family: 'Open Sans', sans-serif;
}

.container-big{
    max-width: 1100px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn{
    padding: 10px 20px;
    display: inline-block;
    background-color: white;
}

.btn-small{
    padding: 5px 10px;
}

.btn-primary{
    color: white;
    background-color: #0061FF;
}

ul{
    list-style-type: none;
}


a{
    text-decoration: none;
    color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row > .col-30{
    flex-basis: 30%;
}

.row > .col-40{
    flex-basis: 40%;
}

.row > .col-50{
    flex-basis: 50%;
}

.row > .col-60{
    flex-basis: 60%;
}

.row > .col-70{
    flex-basis: 70%;
}



.m-30-20{
    margin: 30px 20px;
}

.mt-100{
    margin-top: 100px;
}

.mtb-10{
    margin: 10px 0;
}

.mtb-20{
    margin: 20px 0;
}

.mtb-30{
    margin: 30px 0;
}

.mtb-40{
    margin: 40px 0;
}

.mtb-60{
    margin: 60px 0;
}

.mtb-100{
    margin: 100px 0;
}

.ml-10{
    margin-left: 10px;
}

.ml-30{
    margin-left: 30px;
}

.mb-30{
    margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px;
}

.ptb-10{
    padding: 10px 0;
}

.border-grey{
    border: 1px solid grey;
}


.txt-alg-right{
    text-align: right;
}

img{
    width: 100%;
    height: auto;
}

.checkbox-radius{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 5px solid #0061FF;
}

.box-radius{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #b9b9b9;
}

.box > *{
    margin: 10px 0;
}

.invoice{
    color: #666666;
}

.border{
    border: 1px solid #b9b9b9;
    width: 50px;
}

.relative{
    position: relative;
}

/* header */

#main-header{
    height: 80px;
    background-color: white;
    box-shadow: 0 1px 3px #666;
    padding: 20px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#main-header ul{
    display: flex;
    align-items: center;
    gap: 20px;
}



  

/* jumbotron */

#jumbotron{
    background-color: #B4D0E7;
    padding-top: 70px;
    margin-bottom: 100px;
    height: 650px;
}

#jumbotron h1{
    font-size: 60px;
    font-weight: 900;
}

#jumbotron .row{
    translate: 0 60px;
}

.fa-arrow-down{
    font-size: 50px;
}



/* main */

.services li{
    background-position: 0 0;
    background-size: 15px;
    background-repeat: no-repeat;
    line-height: 20px;
    padding-left: 25px;
}

.advantages li{
    background-position: 0 0;
    background-size: 15px;
    background-repeat: no-repeat;
    line-height: 20px;
    padding-left: 25px;
}

.row.cols-2 > .col{
    flex-basis: calc(100% / 2);
}

.row.cols-3 > .col{
    flex-basis: calc(100% / 3);
}

.row.cols-5 > .col{
    flex-basis: calc(100% / 5);
}

.container-small .row.cols-3 {
    margin: 0 -20px;
}

.col{
    padding: 0 10px;
}

.col-full{
    flex-basis: 100%;
    padding: 10px;
}

.card-full{
    border: 1px solid grey;
}

.col-full .row > .col-50{
    padding: 40px;
}

.card-plan{
    height: 800px;
}

.card-header{
    text-align: center;
    border-bottom: 1px solid grey;
}

.card li{
    margin: 12px;
}

ul .user{
    background-image: url(../img/user-solid.svg);
}

ul .folder{
    background-image: url(../img/folder-solid.svg);
}

ul .share{
    background-image: url(../img/share-nodes-solid.svg);
}

.shop-now{
    padding: 30px 0;
}

.advantages > *{
    margin: 20px 0;
}

.soluction{
    padding-top: 40px;
}

ul .check{
    background-image: url(../img/check-solid\ \(1\).svg);  
}

ul .users{
    background-image: url(../img/users-solid.svg);  
}

.advantages h3{
    font-size: 16px;
}

.btn-partner{
    border: 1px solid;
}

.title-business{
    font-size: 38px;
}

.title-client{
    font-size: 38px;
    padding-right: 350px;
}

#client a{
    text-decoration: underline;
    color: blue;
}

.card img{
    line-height: 100%;
    height: 150px;
    width: 150px;

    position: absolute;
    top: 50%;
    right: 50%;

    translate: 50% -50%;
}

.card{
    height: 287px;
    text-align: center;
    filter:invert(1);
}


.card .florida{
    height: 30px;
    width: 150px;
}


.bg-designit{
    background-color: #A2D39B;
}

.bg-arizona{
    background-color: #61082B;
}

.bg-florida{
    background-color: #0093CE;
}

.bg-tops{
    background-color: #FF1C1C;
}

.bg-bicycle{
    background-color: #D5001F;
}

.bg-hearst{
    background-color: #B4D0E7;
}

.bg-lonely{
    background-color: #0D2481;
}

.bg-channel{
    background-color: #FFD830;
}

.designit-center{
    height: 100px;
    width: 250px;
    text-align: left;
}

.card-center .border{
    width: 105px;
}

.card-center address{
    font-style: normal;
}

.card-center p{
    line-height: 1.4;
}

#call-to-action{
    background-color: #B4D0E7;
}

.call-to-action{
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.call-to-action h2{
    color: #61082B;
    font-size: 40px;
}

#ques h2{
    font-size: 40px;
}

#ques .border{
    width: 100%;
}

.question{
    justify-content: space-between;
    padding: 20px 0;
}

.question h5{
    font-size: 16px;
}

#footer{
    background-color: black;
    color: white;
    padding: 80px;
}

#footer a{
    text-decoration: none;
    color: white;
    text-align: left;
}

.card-footer{
    line-height: 30px;
}

footer .border{
    border: 1px solid white;
    width: 100px;
    margin-left: 10px;
    margin-top: 100px;
}

